<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <title>@ViewData["Title"] - OptMailWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/OptMailWeb.styles.css" asp-append-version="true" />
</head>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid d-flex justify-content-between align-items-center">

                <!-- Logo -->
                <a class="navbar-brand d-flex align-items-center" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/opt.png" alt="Logo" style="height:40px; width:auto; margin-right:10px;" />
                    <!-- <span>OptMailWeb</span>-->
                </a>

                <span class="me-3">Kullanıcı Kodu: @Context.Session.GetString("KullaniciKodu")</span>
                <span class="me-3">Kullanıcı Açıklama: @Context.Session.GetString("Aciklama")</span>

                <!-- Kullanıcı Bilgisi ve Çıkış -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#mailKullaniciModal">
                    Yeni Kullanıcı
                </button>

                <div class="d-flex align-items-center">
                    <form asp-controller="Account" asp-action="Logout" method="post" class="d-inline">
                        <button type="submit" class="btn btn-outline-danger btn-sm">Çıkış Yap</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
