@{
    ViewData["Title"] = "Anasayfa";
}

<div class="container mt-5">
    <h2>Hoşgeldiniz, @ViewBag.Aciklama (@ViewBag.KullaniciKodu)</h2>

    @if (ViewBag.SifreDegisimGun != null)
    {
        <p>Şifre değişimine kalan gün sayısı: @ViewBag.SifreDegisimGun</p>
    }

    <div class="mt-4">
        <a href="@Url.Action("Logout", "Account")" class="btn btn-danger">Çıkış Yap</a>
    </div>
</div>
